<footer>
    <div class="logo" (click)="navigateToHome()">
        <img src="S5.svg" alt="S5">
    </div>
    <div class="column">
        <h4>Spoiler Five Inc.</h4>
        <p>About Spoiler Five</p>
        <p>Company</p>
        <p>Blog</p>
        <p>Logo History</p>
        <p>Contact Us</p>
    </div>
    <div class="column">
        <h4>Support</h4>
        <p>Product Support</p>
        <p>Report Abuse</p>
        <p>Community</p>
        <p>Redeem Code</p>
    </div>
    <div class="column">
        <h4>Privacy Police</h4>
        <p>Terms of Use</p>
        <p>Help</p>
        <p>Email Enquiry</p>
        <p>FAQ/Feedback</p>
    </div>
    <div class="column">
        <h4>S5 Plans</h4>
        <p>Premium Individual</p>
        <p>Premium Duo</p>
        <p>Premium Ultra</p>
        <p>Premium Plus Ultra</p>
    </div>
    <div class="column">
        <h4>More</h4>
        <p>Buisiness</p>
        <p>Advertise</p>
    </div>
</footer>