<header>
    <div class="logo" (click)="navigateToHome()">
        <img src="S5.svg" alt="S5">
    </div>

    <div class="search-bar">
        <input type="text" placeholder="What do you wanna play?">
        <span><i class="fas fa-search fa-lg" (click)="navigateToSearch()"></i></span>
    </div>

    <div class="user-info">
        @if (isLoggedIn) {
        <button class="explore-premium" (click)="navigateToPremium()">
            Explore Premium
        </button>

        <i class="fas fa-bell notification fa-2xl"></i>

        <div class="profile-container">
            <img class="profile-picture" src="Ellipse 1.png" alt="" (click)="toggleProfileMenu()">

            @if (showProfileMenu) {
            <div class="profile-menu">
                <button class="logout-btn" (click)="navigateToProfile()">
                    <i class="fas fa-user"></i>
                    Profile
                </button>
                <button class="logout-btn">
                    <i class="fa-solid fa-gear"></i> Configure
                </button>
                <button class="logout-btn" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </button>
            </div>
            }
        </div>

        } @else {
        <button class="login" (click)="login()">
            Login
        </button>
        }
    </div>
</header>