<aside class="sidebar">
    <nav>
        <div>
            <div class="row">
                <i class="fas fa-home"></i>
                <li><a href="#">Home</a></li>
            </div>
            <div class="row">
                <i class="fas fa-map"></i>
                <li><a href="#">Explore</a></li>
            </div>
            <div class="row">
                <i class="fas fa-music"></i>
                <li><a href="#">Playlists</a></li>
            </div>
        </div>
        <button>Create Playlist</button>
    </nav>
</aside>