@use "../../styles.scss" as *;

button {
  height: 2.5rem;
  width: 9rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.sidebar {
  position: fixed;
  top: 60px;
  height: calc(100dvh - 60px);
  background-color: $secondary-1;
  overflow-y: auto;
  width: 13rem;
  color: $white;
}

a {
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

i {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  font-size: 1.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: rgba($light-accent, 0.1); // Subtle background
    color: $light-accent; // Color change for both text and icon

    i {
      color: $light-accent; // Ensure icon changes color too
    }

    a {
      color: $light-accent; // Ensure link changes color too
    }
  }
}
