<h1>{{title}}</h1>
<div class="carousel-section">
    <button class="carousel-arrow carousel-arrow--left" (click)="scrollToLeft()" [class.hidden]="isAtStart">
        <i class="fas fa-chevron-left"></i>
    </button>

    <div class="carousel-container" #carouselContainer (scroll)="checkScrollPosition()">
        <ul class="row">
            @for (item of items; track item) {
            <app-card [title]="item.title" [artist]="item.artist" [collection]="item.collection"
                [coverart]="item.coverart" [year]="item.year" [rating]="item.rating"
                [isShareable]="item.isShareable || false" [heartActive]="item.heartActive || false"></app-card>
            }
        </ul>
    </div>

    <button class="carousel-arrow carousel-arrow--right" (click)="scrollRight()" [class.hidden]="isAtEnd">
        <i class="fas fa-chevron-right"></i>
    </button>
</div>