@use "../../styles.scss" as *;
.stars {
  display: flex;
  gap: 2px;
  margin-left: 1rem;
  .fa-star {
    font-size: 0.8rem;
    color: rgba($white, 0.3);

    &.active {
      color: $star;
    }
  }
}
.profile {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

img {
  width: 10rem;
  aspect-ratio: 1/1;
  margin-left: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-left: 1rem;
  color: $white;
}

h2 {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: $white;
}
